<p style= "background-color:#922B21;font-family:Georgia;color:#FEFBE9;font-size:250%;text-align:center;border-radius:50px 50px;overflow:hidden;border-style:solid;border-width:1.8px;border-color:#FEFBE9;"><b> Titanic - Machine Learning from Disaster  </b></p>

<p style ='font-family:Lucida Console; text-align:left; color: blue;font-size:18px'> Libraries: </p>

In [1]:
import pandas as pd
import numpy as np

<div style="float:center;margin-left:10px;max-width:250%;">

<img src ='https://media.licdn.com/dms/image/C4D12AQHsDRbH7GXOZg/article-cover_image-shrink_720_1280/0/1604989195408?e=2147483647&v=beta&t=Sq8lv3D1ux7dlVC2R34L7Z--UWHXp4nnCw5Y8j2ciqw'>

</div>

<p style ='font-family:Lucida Console; text-align:left; color: blue;font-size:18px'> Loading Dataset </p>

In [2]:
data = pd.read_csv("../input/titanic-dataset/train.csv")
test = pd.read_csv("../input/titanic-dataset/test.csv")
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
data.shape

(418, 12)

In [4]:
test.shape

(418, 11)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          377 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         418 non-null    float64
 10  Cabin        104 non-null    object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB

<p style= "background-color:brown;font-family:Georgia;color:#FEFBE9;font-size:150%;text-align:center;border-radius:50px 50px;overflow:hidden;border-style:dotted;border-width:1.8px;border-color:#FEFBE9;"><b> Data Cleaning & Preprocessing </b></p>

In [6]:
def clean(data):
    data = data.drop(["PassengerId","Name","Ticket","Cabin"], axis=1)
    
    cols = ['SibSp', 'Parch', 'Fare','Age']
    for col in cols:
        data[col].fillna(data[col].mean(), inplace=True)
    
    data.Embarked.fillna("U", inplace=True)
    return data

data = clean(data)
test = clean(test)

In [7]:
data.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [8]:
test.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  34.5      0      0   7.8292        Q
1       3  female  47.0      1      0   7.0000        S
2       2    male  62.0      0      0   9.6875        Q
3       3    male  27.0      0      0   8.6625        S
4       3  female  22.0      1      1  12.2875        S

In [9]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

cols = ["Sex","Embarked"]

for col in cols:
    data[col] = le.fit_transform(data[col])
    test[col] = le.fit_transform(data[col])
    print(le.classes_)
    
data.head()

[0 1]
[0 1 2]

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

<p style= "background-color:brown;font-family:Georgia;color:#FEFBE9;font-size:150%;text-align:center;border-radius:50px 50px;overflow:hidden;border-style:dotted;border-width:1.8px;border-color:#FEFBE9;"><b> Logistric Regression </b></p>

In [10]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

y = data["Survived"]
X = data.drop("Survived", axis=1)

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

In [11]:
clf = LogisticRegression(random_state=0, max_iter=1000).fit(X_train, y_train)

<p style= "background-color:brown;font-family:Georgia;color:#FEFBE9;font-size:150%;text-align:center;border-radius:50px 50px;overflow:hidden;border-style:dotted;border-width:1.8px;border-color:#FEFBE9;"><b> Predictions </b></p>

In [12]:
predictions = clf.predict(X_val)
from sklearn.metrics import accuracy_score
accuracy_score(y_val, predictions)

0.7976190476190477

In [13]:
submission_preds = clf.predict(test)

In [14]:
# df = pd.DataFrame({"PassengerId":test_ids.values,
#                    "Survived":submission_preds,})

In [15]:
# df.to_csv("submission.csv", index=False)

## **<center><span style="color:#FEF1FE;background-color:#023e8a;border-radius: 5px;padding: 5px"> Thanks for reading! Please feel free to provide suggestions or feedbacks & be supportive :)</span></center>**